﻿<div style="padding-left:20px; padding-right:20px">
    <div class="container">
        <h1>Home</h1>
        <div ng-controller="HomeController" style="padding-left:20px; padding-right:20px">
            <img ng-src="{{event.imageUrl}}" alt="{{event.name}}" />
            <div class="row">
                <div class="spann11">
                    <h2>{{event.name}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <div><strong>Date:</strong> {{event.date}}</div>
                    <div><strong>Time:</strong> {{event.time}}</div>
                </div>
                <div class="span4">
                    <address>
                        <strong>Address:</strong><br />
                        {{event.location.address}}<br />
                        {{event.location.city}}, {{event.location.province}}
                    </address>
                </div>
            </div>

            <hr />

            <h3>Sessions</h3>
            <ul class="thumbnails">
                <li ng-repeat="session in event.sessions">

                    <div class="row session">
                        <div class="span0 well votingWidget">
                            <div class="votingButton" ng-click="upVoteSession(session)">
                                <i class="icon-chevron-up icon-white"></i>
                            </div>
                            <div class="badge badge-inverse">
                                <div>{{session.upVoteCount}}</div>
                            </div>
                            <div class="votingButton" ng-click="downVoteSession(session)">
                                <i class="icon-chevron-down"></i>
                            </div>
                        </div>
                        <div class="well span9">
                            <h4 class="well-title">{{session.name}}</h4>
                            <h6 style="margin-top:-10px">{{session.creatorName}}</h6>
                            <span>Duration: {{session.duration}}</span><br />
                            <span>Level: {{session.level}}</span>

                            <p>{{session.abstract}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    </div>
</div>
