﻿<div style="padding-left:20px; padding-right:20px">
    <div class="container">
        <h1 ng-hide="editingEvent">New Form</h1>
        <!--<h1 ng-show="editingEvent">Edit Form</h1>-->
        <hr />
        <form name="editEventForm">
            <fieldset>
                <label for="eventName">Name:</label>
                <input id="eventName" type="text" required placeholder="Name ..." ng-model="event.name" />
                <label for="eventDate">Date:</label>
                <input id="eventDate" type="text" required placeholder="format (mm/dd/yyyy)..." ng-model="event.date" />
                <label for="eventTime">Time:</label>
                <input id="eventTime" type="text" required placeholder="start and end time..." ng-model="event.time" />
                <label for="eventLocation">Location:</label>
                <input id="eventLocation" type="text" required placeholder="Address of event..." ng-model="event.location.address" />
                <br />
                <input id="eventCity" type="text" required class="input-small" placeholder="City..." ng-model="event.location.city" />
                <input id="eventProvince" type="text" required class="input-small" placeholder="Province..." ng-model="event.location.province" />

                <label for="eventImageUrl">Image:</label>
                <input id="eventImageUrl" type="url" required class="input-xlarge" placeholder="Url of image..." ng-model="event.imageUrl" />

            </fieldset>

            <img data-ng-src="{{event.imageUrl}}" src="" />
            <br />
            <br />

            <button type="submit" class="btn btn-primary" ng-click="saveEvent(event, editEventForm)">Save</button>
            <button type="button" class="btn btn-default" ng-click="cancelEdit()">Cancel</button>

        </form>
    </div>
</div>
